altair
attrs
blinker
cachetools
certifi
charset-normalizer
click
colorama
contourpy
cycler
filelock
fonttools
fsspec
gitdb
GitPython
idna
Jinja2
jsonschema
jsonschema-specifications
kiwisolver
MarkupSafe
matplotlib
mpmath
narwhals
networkx
numpy
opencv-python
packaging
pandas
pillow
playsound
protobuf
psutil
py-cpuinfo
pyarrow
PyAudio
pydeck
pygame
pyparsing
python-dateutil
pytz
PyYAML
referencing
requests
rpds-py
scipy
six
smmap
SpeechRecognition
streamlit
sympy
tenacity
toml
torch
torchvision
tornado
tqdm
typing_extensions
tzdata
ultralytics
ultralytics-thop
urllib3
watchdog
